.page-header {
    margin-bottom: 30px;
    padding: 10px 0;
    background-color: $color-white;
    border-bottom: 1px solid $color-grey;

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        flex-shrink: 0;

        img {
            display: block;
        }
    }

    &__search {
        display: none;
    
        @include media(tablet) {
            display: block;
        }
    }
 
}

