.page-header {
    margin-bottom: 30px;
    padding: 10px 0;
    background-color: $color-white;
    border-bottom: 1px solid $color-grey;
    box-shadow: 5px 5px 30px #000;
    position: sticky;
    top: 0;

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
    }

    &__logo {
        flex-shrink: 0;

        img {
            display: block;
        }

        &:after {
            content: "BETA";
            color: #000;
        }
    }

    &__search {
        display: none;
    
        @include media(tablet) {
            display: block;
        }
    }
 
}

