$color-white: #ffffff;
$color-black: #000;
$color-primary: #3095f6;
$color-newStories: #dd2a7c;
$color-grey-base: #dbdbdb;
$color-grey-dark: #969696;
$color-grey-light: #efefef;
$color-grey-ligher: #fafafa;

